* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;    
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: hotpink;
    border-radius: 5px;
}

body {
    width: 100wv;
    background-color: #333333;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
}

.pink {
    color: pink;
}

.pinkbackground {
    background-color: pink;
}

.blackbackground {
    background-color: black;
}

.greytext {
    color: #333333;
}

.greyborder {
    border: #333333;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
}

:hover.listitem {
    color: palevioletred;
}
a:visited {
    color: #6c757d;
}

.contact {
    color: palevioletred;
    font-weight: bold;
}

.intro-page {
    display: flex;
    justify-content: space-evenly;
}

.intro-para {
    justify-content: center;
    align-items: center;
}

p {
    text-align: justify;
    width: 400px;
}

h1 {
    text-align: center;
    padding: 75px;
    padding-bottom: 50px;
    text-decoration: underline;
    color: palevioletred;
}

.coursepage {
    display: flex;
    flex-direction: column;
    height: 800px;
    background-color: pink;
    color:  #333333;
    border-top: solid white;
}

h2 {
    text-align: center;
    padding: 75px;
    padding-bottom: 50px;
    font-size: 45px;
    text-decoration: underline;
    color: #333333;
}

.topline {
    display: flex;
    justify-content: space-evenly;
    height: 200px;
}


.coursetext {
    width: 550px;
    height: 200px;
}

.nology {
    height: 150px;
    width: 150px;
    border-radius: 15px;
}

.midline {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: 200px;
}

.codelogo {
    height: 150px;
    width: 150px;
    border-radius: 15px;
}

.bottomline {
    display: flex;
    justify-content: space-evenly;
    height: 200px;
}

.agilelogo {
    height: 150px;
    width: 150px;
    border-radius: 15px;
}

.gamepage {
    display: flex;
    flex-direction: column;
    height: 800px;
    background-color: #333333;
    color:  pink;
    border-top: solid white;
}

.gamehead {
    text-align: center;
    padding: 75px;
    padding-bottom: 50px;
    font-size: 45px;
    text-decoration: underline;
    color: pink;
}

.gamecards {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 75px;
}

.card-text {
    text-align: justify;
    width: 200px;
}

.contactpage {
    display: flex;
    flex-direction: column;
    height: 800px;
    padding-bottom: 75px;
    background-color: pink;
    color:  #333333;
    border-top: solid white;
}

.contact-para {
    text-align: center;
    font-weight: bold;
    width: 99vw;
}

.mediaicons {
    display: flex;
    justify-content: center;
    width: 99vw;

}