* {
    font-family: 'Signika';
    margin: 0;
    padding: 0;    
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: hotpink;
    border-radius: 5px;
}

body {
    width: 100wv;
    font-size: 16px;
}

.white {
    color: white;
}

.pink {
    color: pink;
}

.pinkbackground {
    background-color: pink;
}

.blackbackground {
    background-color: black;
}

.greytext {
    color: #333333;
}

.greyborder {
    border: #333333;
}

.textshadow {
    text-shadow: 3px 3px #333333;
}

.textshadow-sub {
    text-shadow: 1.5px 1.5px #333333;
}

.landingtitle {
    font-family: 'Pacifico';
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #ff6f8f;
}


.landingname {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Pacifico';
    height: 100px;
    width: 100vw;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.landingsub {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Pacifico';
    padding-top: 25px;
    width: 100vw;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.hand {
    display: flex;
    align-content: center;
    justify-content:center;

}

.landingpage {
    height: 200vh;
    width: 100vw;
    background-image: url('https://media.giphy.com/media/l41Ygr7sR5limRkek/source.gif');
    background-size: cover;

}

main {
    display: flex;
    flex-direction: column;
}


ul {
    list-style-type: none;
}

li {
    padding: 10px;
}

.listitem {
    color: #C0C0C0;
}

:hover.listitem {
    color: #D0D0D0;
}
a:visited {
    color: #C0C0C0;
}

.contact {
    color: #2DF4EE;
    font-weight: bold;
}

.intro-page {
    display: flex;
    justify-content: center;
    color: gray;
}

.my-img {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-bottom: 30px;
}

.introimg {
    border-radius: 50%;
}

.intro-content {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.intro-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

p {
    text-align: justify;
    width: 400px;
}

h1 {
    text-align: center;
    padding: 75px;
    padding-bottom: 30px;
    text-decoration: underline;
    color: #696969;
}

.coursepage {
    display: flex;
    flex-direction: column;
    height: 800px;
    background-color: pink;
    color:  #333333;
    border-top: solid white;
}

h2 {
    text-align: center;
    padding: 75px;
    padding-bottom: 50px;
    font-size: 45px;
    text-decoration: underline;
    color: gray;
}

.topline {
    display: flex;
    justify-content: space-evenly;
    height: 200px;
}


.coursetext {
    width: 550px;
    height: 200px;
}

.nology {
    height: 150px;
    width: 150px;
    border-radius: 15px;
}

.midline {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: 200px;
}

.codelogo {
    height: 150px;
    width: 150px;
    border-radius: 15px;
}

.bottomline {
    display: flex;
    justify-content: space-evenly;
    height: 200px;
}

.agilelogo {
    height: 150px;
    width: 150px;
    border-radius: 15px;
}

.gamepage {
    display: flex;
    flex-direction: column;
    height: 800px;
    background-color: #333333;
    color:  pink;
    border-top: solid white;
}

.gamehead {
    text-align: center;
    padding-bottom: 50px;
    padding: 75px;
    font-size: 45px;
    text-decoration: underline;
    color: pink;
}

.gamecards {
    display: flex;
    justify-content: space-evenly;
    width: 99vw;
    padding-bottom: 75px;
    padding-right: 25px;
}

.card-text {
    text-align: justify;
    width: 200px;
}

.contactpage {
    display: flex;
    flex-direction: column;
    height: 800px;
    padding-bottom: 75px;
    background-color: pink;
    color:  #333333;
    border-top: solid white;
}

.contact-para {
    text-align: center;
    font-weight: bold;
    width: 99vw;
}

.mediaicons {
    display: flex;
    justify-content: center;
    width: 99vw;
}